.calendar1{
	width: 50%;
}

.calendar1 .container {
	position: absolute;
	margin-bottom: 15px;
	font-size: 16px;
	width: 280px;
	background-color: white;
	color: #999999;
	box-shadow: 0 0 5px #999999;
}

.calendar1 .container-none {
	display: none;
}

.calendar1 .form-cal {
	height: 30px;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	position: relative;	
}

.calendar1 .oneInput {
	width: 200px;
	height: 30px;
	line-height: 16px;
	background-color: white;	
	display: block;
	box-shadow: 0 0 2px #999999;
	border: 1px solid #eeeeee;
	padding-left: 8px;
}

.twoInput {
	width: 90px;
	height: 30px;
	line-height: 16px;
	background-color: white;	
	display: block;
	box-shadow: 0 0 2px #999999;
	border: 1px solid #eeeeee;
	padding-left: 8px;
	display: inline-block;
}

.calendar1 .form-cal b {
	color: #999999;
	margin-left: 2px;
	margin-right: 2px;
}

.calendar1 .form-cal button{
	background-color: white;
	position: absolute;
	right: 0px;
	top:0;
	height: 30px;
	border: 1px solid #eeeeee;
	box-shadow: 0 0 2px #999999;
	width: 80px;
	cursor: pointer;
}

.calendar1 .form-cal button:hover {
	box-shadow: 0 0 5px #999999;
}

.calendar1 .cal-head {
	height: 40px;
	position: relative;
	text-align: center;
}

.calendar1 .cal-head select {
	margin-top: 10px;
	color: #999999;
}

.calendar1 .cal-head div:first-child {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right: 10px solid #999999;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}

.calendar1 .cal-head div:last-child {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left: 10px solid #999999;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.calendar1 table {
	border-collapse: collapse;
}

.calendar1 tr * {
	width: 40px;
	height: 30px;
	text-align: center;
}

.calendar1 .active {
	background-color: red;
	cursor: pointer;
	animation: myChange 0.5s forwards;
}

.calendar1 .nonactive {
	color: #DCE1E7;
	cursor: pointer;
}

@keyframes myChange {
	from {
		background-color: white;
		color: #999999;
	}
	to {
		background-color: #999999;
		color: white;
		box-shadow: 0 0 5px #999999;
	}
}